.portfolio2__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 10px; /* Balanced space between containers */
  justify-content: center; /* Center horizontally */
}

.project2__individual__container {
  /* Your individual container styles */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 8px solid;
  padding: 8px;
}

.image-container {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 200px; /* Limit the maximum height of the image */
  overflow: hidden; /* Hide any overflow if the image is larger than the container */
}
.clickable:hover {
  opacity: 0.3;
}

.image-container img {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
}

.description-box {
  text-align: center;
}

.project2-container {
  padding: 70px 20px;
}
