.about-container {
  background-color: #c4e4f7;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8vh 20vh;
}
.scroll-up,
.scroll-down {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  cursor: pointer;
}
.scroll-up:hover {
  color: rgba(122, 120, 120, 0.671);
}
.row {
  margin-top: 50px;
  justify-content: space-around;
}
.about-me {
  text-align: center;
}
.icons {
  font-size: 4rem;
}
.about-me p:first-child {
  font-size: 30px;
}
.about-me p:nth-child(2) {
  line-height: 160%;
  text-align: justify;
  font-size: 1.2rem;
}
.skill-strength {
  text-align: center;
}
.skill-set,
.workplace-strength {
  margin-bottom: 70px;
}
.icons i {
  margin: 20px auto;
}
.skill-set > p,
.workplace-strength > p {
  font-size: 30px;
}
@media screen and (max-width: 960px) {
  .about-container {
    padding: 8vh;
  }
  .row {
    margin: 0;
    padding: 0;
  }
}
