.scroll-up,
.scroll-down {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
  cursor: pointer;
  max-width: 2000px;
}
.scroll-up:hover {
  color: rgba(122, 120, 120, 0.671);
}
.totop-text {
  font-weight: 800;
  font-size: 25px;
}
